/* Adjust layouts for mail list and preview to work nicely with vertical layout*/
#mailview-top {
	height: auto !important;
	width: 50%;
}
/* Hide the preview pane, then show when loaded (reduce onload layout change)*/
#mailview-bottom {
	visibility: hidden;
}
.vertical-mail-view #mailview-bottom {
	visibility: visible;
}
/* hide the preview toggle - doesn't play nice with vertical layout */
#mailpreviewtoggle {
	display: none;
}
/* Ensure the subject column isn't collapsed completely */
.messagelist thead tr th.subject, .messagelist tbody tr td.subject{
	width: 200px;
}
/* Add a space after the pagination controls since it's been moved '*/
#messagelistfooter #countcontrols {
	margin-right: 0.25em;
}